{% extends "base.html" %}

{% block content %}
  <div class="container mt-5 card">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <!-- Add Text Card -->
        <div>
          <div style="padding: 50px">
            <h1 class="card-title text-left">WELLNESS. FITNESS. MIDFULLNESS.</h1>
            <h1 class="card-title text-left">BROUGHT TO YOUR TEAM BY FITNESS HUB</h1>
            <p class="card-text text-left">
              Join the moment and transform your body at fitness hub studio. We are dedicated to helping you achieve your fitness goals.
            </p>
            <div class="d-flex" style="margin-top: 10px; margin-bottom: 10px;">
              <a href="{{ url_for('signup') }}" class="btn btn-primary" style="background-color: black; color: yellow">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <!-- Add Bootstrap Carousel -->
        <div
          id="carouselExample"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="{{ url_for('static', filename='assets/images/carousel/1.jpeg') }}"
                class="d-block w-100"
                alt="Slide 1"
              />
            </div>
            <div class="carousel-item">
              <img
                src="{{ url_for('static', filename='assets/images/carousel/2.jpeg') }}"
                class="d-block w-100"
                alt="Slide 2"
              />
            </div>
            <div class="carousel-item">
              <img
                src="{{ url_for('static', filename='assets/images/carousel/3.jpeg') }}"
                class="d-block w-100"
                alt="Slide 3"
              />
            </div>
            <div class="carousel-item">
              <img
                src="{{ url_for('static', filename='assets/images/carousel/4.jpeg') }}"
                class="d-block w-100"
                alt="Slide 4"
              />
            </div>
            <div class="carousel-item">
              <img
                src="{{ url_for('static', filename='assets/images/carousel/5.jpg') }}"
                class="d-block w-100"
                alt="Slide 5"
              />
            </div>
            <div class="carousel-item">
              <img
                src="{{ url_for('static', filename='assets/images/carousel/6.jpg') }}"
                class="d-block w-100"
                alt="Slide 6"
              />
            </div>
            <div class="carousel-item">
              <img
                src="{{ url_for('static', filename='assets/images/carousel/7.jpeg') }}"
                class="d-block w-100"
                alt="Slide 7"
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>        
  <div class="intro-text">
    <p>
      At Fitness Hub, we are dedicated to helping you achieve your fitness
      goals. We offer personalized workout plans, custom meal plans, and a
      wide range of resources to support your journey towards a healthier
      lifestyle.
    </p>
    <p>
      Whether you're looking to lose weight, build muscle, or improve your
      overall fitness, our experienced coachesand comprehensive library of
      workout routines will help you stay motivated and make progress.
    </p>
    <p>Sign up now and start your journey to a healthier, happier you!</p>
  </div>
  <!-- START THE FEATURETTES -->
  <hr class="featurette-divider" />
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">
        Personalized Workout Plans<span class="text-body-secondary">
          - Customized to your goals.</span
        >
      </h2>
      <p class="lead">
        Our expert trainers will create a personalized workout plan
        tailored to your fitness goals, body type, and experience level.
        Experience the best workouts designed just for you.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="{{ url_for('static', filename='assets/images/plan.png') }}"
        class="featurette-image-plan img-fluid mx-auto"
        alt="Personalized Workout Plans"
      />
    </div>
  </div>
  <hr class="featurette-divider" />
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">
        Custom Meal Plans<span class="text-body-secondary">
          - Nutritious and delicious.</span
        >
      </h2>
      <p class="lead">
        Our nutritionists will create a custom meal plan that perfectly
        complements your workout regimen. Enjoy delicious and healthy
        meals designed to help you reach your fitness goals faster.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img
        src="{{ url_for('static', filename='assets/images/meal-planning.png') }}"
        class="featurette-image img-fluid mx-auto"
        alt="Custom Meal Plans"
      />
    </div>
  </div>
  <hr class="featurette-divider" />
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">
        Supportive Community<span class="text-body-secondary">
          - We're in this together.</span
        >
      </h2>
      <p class="lead">
        Join our supportive community of like-minded fitness enthusiasts
        who are on the same journey as you. Share your progress, ask
        questions, and stay motivated throughout your fitness journey.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="{{ url_for('static', filename='assets/images/community.png') }}"
        class="featurette-image img-fluid mx-auto"
        alt="Supportive Community"
      />
    </div>
  </div>
  <hr class="featurette-divider" />
  <!-- END THE FEATURETTES -->
  <!-- BMI Calculator -->
  <div class="container mt-5 card">
    <div style="background-color: white; padding: 20px">
      <div class="row">
        <div class="col-md-6">
          <h2>BMI Calculator</h2>
          <div class="body-text">
            <p>
              Calculate your Body Mass Index (BMI) using our simple
              calculator. Enter your weight, height, gender, and age to
              get started.
            </p>
          </div>
          <form id="bmiForm">
            <div class="row">
              <div class="col-md-12">
                <label for="weight" class="form-label">Weight (kg)</label>
                <input
                  type="number"
                  step="0.1"
                  class="form-control"
                  id="weight"
                  placeholder="Enter your weight in kilograms"
                  required
                />
              </div>
              <div class="col-md-12">
                <label for="height" class="form-label">Height (cm)</label>
                <input
                  type="number"
                  step="0.1"
                  class="form-control"
                  id="height"
                  placeholder="Enter your height in centimeters"
                  required
                />
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <label for="gender" class="form-label">Gender</label>
                <select class="form-select" id="gender" required>
                  <option value="">Select your gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
              <div class="col-md-12">
                <label for="age" class="form-label">Age</label>
                <input
                  type="number"
                  class="form-control"
                  id="age"
                  placeholder="Enter your age"
                  required
                />
              </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3" style="background-color: black; color: yellow">
              Calculate BMI
            </button>
          </form>
          <div class="mt-3" id="bmiResult"></div>
        </div>
        <div class="col-md-6">
          <h3>BMI Chart</h3>
          <div class="body-text">
            <p>Refer to this chart to understand BMI categories:</p>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Category</th>
                <th scope="col">BMI Range</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Underweight</td>
                <td>Less than 18.5</td>
              </tr>
              <tr>
                <td>Normal weight</td>
                <td>18.5 - 24.9</td>
              </tr>
              <tr>
                <td>Overweight</td>
                <td>25 - 29.9</td>
              </tr>
              <tr>
                <td>Obesity (Class 1)</td>
                <td>30 - 34.9</td>
              </tr>
              <tr>
                <td>Obesity (Class 2)</td>
                <td>35 - 39.9</td>
              </tr>
              <tr>
                <td>Extreme obesity (Class 3)</td>
                <td>40 or greater</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top: 40px">
    <h1 class="featurette-heading fw-normal lh-1">Fitness & Wellness Trends</h1>
    <p class="body-text">
      Discover the latest fitness and wellness trends through our
      informative charts. Explore the relationship between exercise,
      nutrition, and overall health as we dive into historical data and
      recent statistics. Our goal is to inspire and educate individuals
      seeking to improve their fitness and wellbeing.
    </p>
    <div class="chart-body">
      <div class="chart-grid">
        <div class="chart-container card card">
          <h2>Overall Fitness vs. Obesity</h2>
          <div class="chart-wrapper">
            <canvas id="fitnessData"></canvas>
          </div>
        </div>
        <div class="chart-container card">
          <h2>Average Exercise Time (Hours/Week)</h2>
          <div class="chart-wrapper">
            <canvas id="exerciseTimeChart"></canvas>
          </div>
        </div>
        <div class="chart-container card">
          <h2>Percentage of Physically Active Adults</h2>
          <div class="chart-wrapper">
            <canvas id="activeAdultsChart"></canvas>
          </div>
        </div>
        <div class="chart-container card">
          <h2>Nutrition</h2>
          <div class="chart-wrapper">
            <canvas id="nutritionChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1 class="featurette-heading fw-normal lh-1" style="margin-top: 50px">
    Embark on Your Fitness Journey Today!
  </h2>
  <!-- START THE FEATURETTES -->
  <hr class="featurette-divider" />

  <div class="row featurette step">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1 step-number">
        Step 1
      </h2>
      <i class="bi bi-person-plus step-icon"></i>
      <p class="step-description">
        Choose from our variety of fitness plans to find the perfect one
        for you.
      </p>
    </div>
    <div class="col-md-5">
      <p class="lead">Signup and Choose a Plan</p>
    </div>
  </div>
  <hr class="featurette-divider" />
  <div class="row featurette step">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1 step-number">
        Step 2
      </h2>
      <i class="bi bi-chat-dots step-icon"></i>
      <p class="step-description">
        Talk to our experienced trainers to discuss your goals and create
        a personalized plan.
      </p>
    </div>
    <div class="col-md-5">
      <p class="lead">Consult with One of Our Trainers</p>
    </div>
  </div>
  <hr class="featurette-divider" />
  <div class="row featurette step">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1 step-number">
        Step 3
      </h2>
      <i class="bi bi-speedometer2 step-icon"></i>
      <p class="step-description">
        Start your fitness journey with our expert guidance and support.
      </p>
    </div>
    <div class="col-md-5">
      <p class="lead">Get Running</p>
    </div>
  </div>
  <hr class="featurette-divider" />
  <div class="row featurette step">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1 step-number">
        Step 4
      </h2>
      <i class="bi bi-bar-chart-line step-icon"></i>
      <p class="step-description">
        Track your progress, see your results, and continue to improve
        your fitness level.
      </p>
    </div>
    <div class="col-md-5">
      <p class="lead">See Results</p>
    </div>
  </div>
  <!-- END THE FEATURETTES -->
{% endblock %}
