{% extends "base.html" %} {% block content %}
<div
  class="container full-height d-flex justify-content-center align-items-center"
>
  <div class="content-wrapper">
    <!-- Your existing content goes here -->
    <div class="container mt-5" style="margin-bottom: 30px">
      <h1>Our Plans</h1>
      <div class="body-text">
        <p>
          Choose from our range of fitness plans designed to help you reach your
          goals.
        </p>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header" style="background-color: black">
              <h3 style="color: yellow">Basic Plan</h3>
            </div>
            <div class="card-body">
              <h4 class="card-title">$19.99/month</h4>
              <p class="card-text">
                Access to our workout library and basic diet plans and
                personalized classes.
              </p>
              <ul>
                <li>Workout library</li>
                <li>Basic diet plans</li>
                <li>Monthly progress tracking</li>
                <li>Two Free Presonolized Class</li>
              </ul>
              <a
                href="{{ url_for('signup') }}"
                class="btn btn-primary"
                style="background-color: black; color: yellow"
                >Sign Up Now</a
              >
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <div class="card-header" style="background-color: black">
              <h3 style="color: yellow">Premium Plan</h3>
            </div>
            <div class="card-body">
              <h4 class="card-title">$39.99/month</h4>
              <p class="card-text">
                Personalized workout and meal plans, plus access to a dedicated
                fitness coach.
              </p>
              <ul>
                <li>Personalized workout plans</li>
                <li>Custom meal plans</li>
                <li>Dedicated fitness coach</li>
                <li>Weekly progress tracking</li>
              </ul>
              <a
                href="{{ url_for('signup') }}"
                class="btn btn-primary"
                style="background-color: black; color: yellow"
                >Sign Up Now</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header" style="background-color: black">
              <h3 style="color: yellow">Elite Plan</h3>
            </div>
            <div class="card-body">
              <h4 class="card-title">$59.99/month</h4>
              <p class="card-text">
                All Premium features, plus advanced analytics, and priority
                support.
              </p>
              <ul>
                <li>Advanced workout analytics</li>
                <li>Nutrition tracking</li>
                <li>Priority customer support</li>
                <li>Access to exclusive content</li>
              </ul>
              <a
                href="{{ url_for('signup') }}"
                class="btn btn-primary"
                style="background-color: black; color: yellow"
                >Sign Up Now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
