html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.footer a {
  transition: all 0.3s ease;
  color: white;
}

.footer a:hover {
  color: #ffc107;
  text-decoration: none;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 150px); /* Adjust this value if needed */
}

.form-wrapper {
  max-width: 400px; /* Adjust this value according to your preference */
}

nav {
  flex: 1;
  background-color: black;
}

.navbar-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-size: 2rem;
  color: white; /* Added for improved visibility on a dark background */
}

.nav-link {
  color: white; /* Added for improved visibility on a dark background */
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  transition: all 0.3s ease;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  font-weight: 600;
}

.nav-link.active {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  font-weight: 600;
  padding: 10px;
}

.carousel-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.highlighted-bmi {
  font-weight: bold;
  font-size: 1.5em;
  color: #007bff;
}

.step {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
  cursor: pointer;
}

.step:hover {
  background-color: #e9ecef;
  transform: scale(1.02);
}

.step-icon {
  font-size: 1rem;
  color: #007bff;
  margin-right: 20px;
}

.step-number {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.step-description {
  display: none;
}

.step.show-description .step-description {
  display: block;
}

.intro-text {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 30px;
  margin-bottom: 30px;
}

.body-text {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card:hover .devloper-quote {
  opacity: 1;
  transform: translateY(0);
}

.devloper-quote {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 1rem;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.3s ease;
}

.social-icons {
  position: absolute;
  top: 10px;
  right: 15px;
}

.quote-carousel-section {
  background-color: #f8f9fa;
}

.quote-text {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
}

.quote-author {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #6c757d;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  width: 30px;
  height: 30px;
  border-radius: 80px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
